{% extends "main.html" %}

{% block title %}
  Detail page
{% endblock %}


{% block content %}

    <h1>
        {{item.code}}
    </h1>

    <h3>商品情報</h2>

    <table border="1">
        <thead>
            <tr>
                <th style="width:10%">項目</th>
                <th>現在の値</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>パス</td>
                <td> {{ yahoo.path }} </td>
            </tr>
            <tr>
                <td>商品名</td>
                <td> {{ yahoo.name }} </td>
            </tr>
            <tr>
                <td>メーカー希望小売価格</td>
                <td> {{ yahoo.original_price }} </td>
            </tr>
            <tr>
                <td>通常販売価格</td>
                <td> {{ yahoo.price }} </td>
            </tr>
            <tr>
                <td>プロダクトカテゴリ</td>
                <td> {{ yahoo.product_category }} </td>
            </tr>
        </tbody>
    </table>
    <p>
        <a href="{{ search_url }}">yahooで検索</a>
    </p>

{% endblock %}
