<!DOCTYPE html>

{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
    </head>
    <body>

        <div class="container">
        <ul class="nav bg-info">
            <li class="nav-item">
            <a class="nav-link link-light" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="/rakuten/search">Rakuten</a>
            </li>
        </ul>

        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>